<ion-header-bar class="bar-positive">
<h1 class="title">Pick Hotel</h1>
<button class="button" ng-click="startWorkflow()">Done</button>
</ion-header-bar>
<ion-content>
<div class="list">
	<a class="item item-button-right" ng-repeat="hotels in savedHotels">
		
			{{hotels.title}}
			<div class ="buttons">
				   
     			<div class="ion-item" style=" " ng-repeat="contact in hotels.contacts">
					<img  class="small-avatar" ng-src="{{contact.photos[0].value}}" ng-if="contact.photos.length > 0">
					<img class="small-avatar" src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Silver_-_replace_this_image_male.svg/200px-Silver_-_replace_this_image_male.svg.png" ng-if="contact.photos.length === 0">
				</div>
			
    		

		</div>
	</a>
	
</div>
</ion-content>